name: Daily Scraper

on:
  schedule:
    - cron: "0 0 * * *" # This runs the job daily at midnight
  workflow_dispatch: # Allows manual trigger

jobs:
  run_daily_scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create data directories
        run: |
          mkdir -p data_temp

      - name: Run scraper script
        run: python scraper/n1_scraper.py

      - name: Echo job status
        run: echo "Daily scraper job status is ${{ job.status }}."
